.rule, .coc{
    margin-top: 8vh;
    margin-bottom: 2vh;
    
}
.rulelist, .coclist{
    list-style-type: decimal;
    margin-left: 19vw;
}

.coclast{
    margin-bottom: 70px;
}
.worldlink{
    padding-right: 20px;
   height: 50px;
   width: 400px;
}
.sponsorcenter{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card{
    background-color: rgb(23,23,29);
    border: 4px solid rgb(235,183,34);
}

.mentor{
    display: flex;
}
.prizestext{
    color: white;
    
}